* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  transition: 1s;
}

header {
  background-color: #0056a1;
  color: white;
  padding: 20px;
  text-align: center;
  transition: 1s;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

header img {
  max-width: 100px;
  border-radius: 20px;
}

header div {
  display: flex;
  flex-flow: row nowrap;
  margin: 0px 20px;
  width: 100%;
}

input[type="search"] {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: large;
  width: 100%;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

header div button {
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  font-size: 32px;
  width: 50px;
}

header div button:hover {
  background-color: white;
}

header #light-dark {
  padding: 6px 8px;
  border: none;
  border-radius: 50%;
  background-color: #e67e22;
  cursor: pointer;
  transition: background-color 0.3s;
}

header #light-dark:hover {
  background-color: #d35400;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #e32025;
  width: 100%;
  align-self: center;
  transition: 1s;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}

html {
  scroll-behavior: smooth;
}

main {
  max-width: 90%;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.33);
  transition: 1s;
}

main form {
  display: flex;
  flex-direction: column;
}

main form input,
main form textarea {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

main form button {
  width: fit-content;
  padding: 8px 15px;
  margin-top: 10px;
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

main form button[type="reset"] {
  background-color: #c0392b;
}

main form button:hover {
  opacity: 0.9;
}

section {
  margin-bottom: 30px;
}

section div {
  display: flex;
  flex-flow: row nowrap;
}

table {
  width: 50%;
  border-collapse: collapse;
  margin: 0px 2px;
  margin-top: 20px;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  transition: 1s;
}

table th {
  background-color: #2980b9;
  color: white;
}

/* footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

footer div {
  margin: 5px 0;
} */

@media (max-width: 768px) {
  table th,
  table td {
    font-size: 14px;
    padding: 8px;
  }
}
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark-mode header {
  background-color: #1f1f1f;
}

body.dark-mode nav {
  background-color: #333;
}

body.dark-mode nav a {
  color: #e0e0e0;
}

body.dark-mode header #light-dark {
  background-color: #8e44ad;
}

body.dark-mode header #light-dark:hover {
  background-color: #732d91;
}

body.dark-mode main {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

body.dark-mode table th {
  background-color: #333;
  color: #fff;
}

body.dark-mode table td {
  border-color: #444;
}

body.dark-mode footer {
  background-color: #1f1f1f;
}

/* footer */

.rodape {
  background-color: #0056a1;
  color: white;
  height: auto;
  width: 100%;
  font-size: 14px;
  font-family: helvetica;
  margin-top: 40px;
}
.rodape a {
  text-decoration: none;
  color: white;
}
.rodape a:hover {
  color: #e32025;
}
.rodape p {
  margin-bottom: 5px;
}
.contato {
  width: 150px;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e32025;
  color: #ffffff;
  border: 2px solid #e32025;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}

.mídia {
  width: 150px;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e32025;
  color: #ffffff;
  border: 2px solid #e32025;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}
.rodape-div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  align-items: stretch;
  padding: 60px 10px 40px 10px;
}
.rodape-div-1,
.rodape-div-2,
.rodape-div-3,
.rodape-div-4 {
  display: flex;
  width: calc(100% / 4 - 20px);
  padding: 10px;
}
.rodape span {
  font-size: 20px;
  color: #e32025;
}
.juridico {
  padding: 10px;
  margin: 0px;
  text-align: center;
}
.copyright {
  padding: 10px;
  margin: 0px;
  text-align: center;
}
/*mobile*/
@media (max-width: 768px) {
  .rodape-div-1,
  .rodape-div-2,
  .rodape-div-3,
  .rodape-div-4 {
    width: calc(50% - 20px);
    padding: 10px;
  }
  .rodape-div {
    padding: 60px 0px 40px 0px;
  }
}
